.container {
    padding: 12px;
    background-color: #1e2428;
    width: 600px;

    @media (max-width: 767px) {
        width: 300px;
    }

    .title {
        color: #e1e2e3;
        padding-bottom: 12px;
        font-size: 24px;
        text-align: center;
    }
}
